*{
    margin: 0;
    padding: 0;
}

/*------ Header Bar Group Start -------*/
.sub-header{
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #2a2529, #2a2529);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.navbar{
    width: 1500px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #fff;
    font-size: 50px;
    font-family: Great Vibes; 
    padding-left: 20px;
    float: left;
    padding-top: 35px;
    margin-top: 5px

}

.menu{
    width: 1000px;
    float: right;
    height: 50px;
}

ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 5px;
    font-size: 20px;
    padding-top: 55px;
}

ul li a{
    text-decoration: none;
    color: #faeab1;
    font-family: Inter;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: #fff;
}
/*------ Header Bar Group End -------*/




/*------ Fadein Animation -------*/
.fade-in-text {
  animation: fadeIn .7s;
  -webkit-animation: fadeIn .7s;
  -moz-animation: fadeIn .7s;
  -o-animation: fadeIn .7s;
  -ms-animation: fadeIn .7s;
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-ms-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}


/*------ Delayed Fadein Animation -------*/
.fade-in-text2 {
  animation: fadeIn2 2s;
  -webkit-animation: fadeIn2 2s;
  -moz-animation: fadeIn2 2s;
  -o-animation: fadeIn2 2s;
  -ms-animation: fadeIn2 2s;
}


@keyframes fadeIn2 {
    0% { opacity:0; }
    33% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes fadeIn2 {
    0% { opacity:0; }
    33% { opacity:0; }
    66% { opacity:0.5; }
    100% { opacity:1; }
}

@-webkit-keyframes fadeIn2 {
    0% { opacity:0; }
    33% { opacity:0; }
    66% { opacity:0.5; }
    100% { opacity:1; }
}

@-o-keyframes fadeIn2 {
    0% { opacity:0; }
    33% { opacity:0; }
    66% { opacity:0.5; }
    100% { opacity:1; }
}

@-ms-keyframes fadeIn2 {
    0% { opacity:0; }
    33% { opacity:0; }
    66% { opacity:0.5; }
    100% { opacity:1; }
}




/*------ Contents Styling Group Start -------*/
body {
background-size: cover;
background-color: #2a154a ;
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

.about{
    width: 1500px;
    height: auto;
    margin: auto;
    color: #faeab1;
    position: relative;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1 { 
font-family: 'Inter';
font-size: 22px;
font-style: normal; 
font-variant: normal; 
font-weight: 700; 
line-height: 26.4px; 
}

.p{
font-family: 'Montserrat';
font-size: 40px;
padding-left: 20px;
margin-top: 9%;
letter-spacing: 0px;
padding-top: 70px;
text-align: center;

}

.about h1{
font-family: 'Inter';
font-size: 40px;
padding-left: 20px;
margin-top: 9%;
letter-spacing: 0px;
padding-top: 70px;
text-align: center;
} 

.about p{
font-family: 'Montserrat';
font-size: 30px;
padding-left: 20px;
letter-spacing: -1px;
padding-top: 70px;
text-align: center;
}

.padding{
padding-top: 1200px;
}


tr:nth-child(even) {
    background-color: #1b0c27;
  }

  th, td {
    font-family: 'Inter';
    border-style: solid;
    border-color: #1b0c27;
    padding: 8px;
  }

  .clear {
    clear: left;
 }

  .column {
    float: left;
    width: 42%;
    padding: 60px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .container2 {
    padding: 0 16px;
  }

/*------ Contents Styling Group End -------*/





/*------ Contact Form -------*/
input[type=text], select, textarea {
  width: 50%;
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container3 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/*------ Contact Form -------*/





/*------ Meet The Team -------*/

.contact {
    width: 1800px;
    height: auto;
    margin: auto;
    color: #faeab1;
    position: relative;
}

.contact h1{
    font-family: 'Inter';
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 0px;
    text-align: center;
    } 
    

.contact p{
    font-family: 'Montserrat';
    font-size: 25px;
    padding-left: 20px;
    letter-spacing: -1px;
    padding-top: 70px;
    text-align: center;
}

  .column2 {
    float: left;
    width: 24%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  } 
  
  @media screen and (max-width: 650px) {
  
  }

/*------ Meet The Team -------*/




/*------ Socials Styling Group Start -------*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-youtube {
    background: #bb0000;
    color: white;

}

.fa-instagram {
    background: #125688;
    color: white;
}
/*------ Socials Styling Group End -------*/


.shiz{
    padding-top: 2%;
    display: block;
    margin-right: auto;
    width: 60%;
}